# build artifacts
build/
*.3dsx
*.elf
*.smdh
*.map
*.t3x
*.d
*.o

# tooling
.vs/
.vscode/

# release artifacts
builds/

# generated graphics headers leaked to root
/konachanbg.h
/topscreenbg.h
/topsearch.h
/cam_test.jpg
